<script lang="ts" setup>
import { ref } from "vue";
const feelingImg = ref("feeling_imgs/smile.png");
const feeling = ref("Smile");

const changeFeeling = (feelings: string, feelingsImg: string) => {
  feeling.value = feelings;
  feelingImg.value = feelingsImg;
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <div>
          <v-img width="450" :src="feelingImg"></v-img>
        </div>
      </v-col>
      <v-col>
        <div class="mx-5 mt-10">
          <v-row class="justify-center text-h5">{{ feeling }}</v-row>
        </div>
        <div class="mx-5 mt-5">
          <v-btn
            width="100%"
            @click="changeFeeling('Angry', 'feeling_imgs/angry.png')"
            :color="feeling === 'Angry' ? 'yellow' : 'empty'"
            >ANGRY</v-btn
          >
        </div>
        <div class="mx-5 mt-5">
          <v-btn
            width="100%"
            @click="changeFeeling('Cute', 'feeling_imgs/cute.png')"
            :color="feeling === 'Cute' ? 'yellow' : 'empty'"
            >CUTE</v-btn
          >
        </div>
        <div class="mx-5 mt-5">
          <v-btn
            width="100%"
            @click="changeFeeling('Excited', 'feeling_imgs/excited.png')"
            :color="feeling === 'Excited' ? 'yellow' : 'empty'"
            >EXCITED</v-btn
          >
        </div>
        <div class="mx-5 mt-5">
          <v-btn
            width="100%"
            @click="changeFeeling('Pain', 'feeling_imgs/pain.png')"
            :color="feeling === 'Pain' ? 'yellow' : 'empty'"
            >PAIN</v-btn
          >
        </div>
        <div class="mx-5 mt-5">
          <v-btn
            width="100%"
            @click="changeFeeling('Shocked', 'feeling_imgs/shocked.png')"
            :color="feeling === 'Shocked' ? 'yellow' : 'empty'"
            >SHOCKED</v-btn
          >
        </div>
        <div class="mx-5 mt-5">
          <v-btn
            width="100%"
            @click="changeFeeling('Smile', 'feeling_imgs/smile.png')"
            :color="feeling === 'Smile' ? 'yellow' : 'empty'"
            >SMILE</v-btn
          >
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
