<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { useCounterStore } from "@/stores/counter";

const counterStore = useCounterStore();
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <div>
          <FirstComponent></FirstComponent>
          <v-btn @click="counterStore.increment">INCREMENT</v-btn>
        </div>
      </v-col>
      <v-col>
        <div>
          <SecondComponent></SecondComponent>
          <v-btn @click="counterStore.deletes">DECREASE</v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
