<script lang="ts" setup>
import { ref } from "vue";
const num = ref(0);
</script>

<template>
  <v-container>
    <v-row>
      <v-text-field
        v-model.number="num"
        label="Please input Number"
        type="number"
        :rules="[(v) => !!v || 'Number is not empty!!']"
        required
      ></v-text-field>
    </v-row>
    <v-row>
      <v-col v-for="n in num" :key="n" cols="1"
        ><div>{{ n }}</div></v-col
      >
    </v-row>
  </v-container>
</template>
