<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <div style="font-weight: bold">Second Component</div>
  <div>{{ counterStore.doubleCount }}</div>
</template>
